@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 30px rgba(59,130,246,0.3);
}